<phpunit
  bootstrap="src/Tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuites>
    <testsuite>
      <directory>src/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
